{% extends "data/base.html" %}
{% load static %}
{% block content %}
<div class="content1">
   <div class="signup-form11">
      <div class="animated-image">
         <img src="{% static 'images/Animation.gif' %}" style="width:200px; height:200px;" id="svg-image" class="hidden">
      </div>
   <div class="signup-form1">
<form method="POST" action="{% url 'data:signup' %}" class="signup-form" id="signup-form">
   {% csrf_token %} 
   <div class="form1"> 
    <label for="id_username" class="label1">Username:</label> 
    <br>
    <input type="text" name="username" maxlength="30" required id="id_username" class="form11">
  </div>
  <div class="form1"> 
   <label for="id_username" class="label1">Name:</label> 
   <br>
   <input type="text" name="name" maxlength="30" required id="id_username" class="form11">
 </div>
     <div class="form1">
       <label for="id_password" class="label1">Password:</label>
       <br>
       <input type="password" name="password" required id="id_password" class="form11">
       </div> 
       <div class="form1"> 
      <label for="id_password2" class="label1">Confirm Password:</label> 
      <br>
       <input type="password" name="password2" required id="id_password2" class="form11"> 
      </div>
   <button type="submit" class="btn btn-primary signBtN" style="background-color:rgb(69, 69, 232) ;" id="signup-button">Sign Up</button>
</div>
</div>
</div>
{% endblock %}
