{% extends 'profiles/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
{% endblock %}
{% block content %}
<div class="content1">
    <div class="nav1">
        <a href="{% url 'home' %}" class="nav-link">Feed</a>
        <a href="{% url 'create_post' %}" class="nav-link">Post</a>
        <a href="{% url 'profiles:profiles' %}" class="nav-link">Users</a>
        <a href="{% url 'profiles:profile' %}" class="nav-link">Profile</a>
      </div>
<nav class="navbar">
    <h1>Users</h1>
</nav>
{% for profile in profiles %}
    <a href="{% url 'profiles:detail' profile.user.pk %}">{{ profile.user }}</a>
    <hr>
{% endfor %}
</div>
{% endblock %}